<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="assets/img/side-image.svg" alt="Imagem de navegação">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="home" title="Home">
                <i class="material-icons">home</i> Home
            </a>
            <a mat-list-item routerLink="tecnicos" title="Técnico">
                <i class="material-icons">account_circle</i> Técnicos
            </a>
            <a mat-list-item routerLink="clientes" title="Cliente">
                <i class="material-icons">person</i> Clientes
            </a>
            <a mat-list-item routerLink="/" title="Github">
                <i class="material-icons">code</i> Github
            </a>
            <a mat-list-item (click)="logout()" title="Sair">
                <i class="material-icons">logout</i> Sair
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <app-header></app-header>
        <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button title="Menu">
            <mat-icon>menu</mat-icon>                       
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>